body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

h1,
h2 {
  color: #333;
  text-align: center;
}

p {
  line-height: 1.6;
  color: #444;
}

ul {
  margin-bottom: 20px;
}

.center-image {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  height: auto;
}

.image-row {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.image-row img {
  width: 45%;
  max-width: 400px;
  height: auto;
}

.footer {
  line-height: 3;
  color: black;
  text-align: center;
}